{% import '_includes/forms' as forms %}

<p>Brief's notifications are managed by your User Group settings. You can setup User Groups <a href="{{ url('settings/users') }}">here.</a></p>

{{
	forms.textField({
		label: "Notification Email Subject",
		instructions: "Enter your preferred subject line. Feel free to use {{ section }} or {{ title }} Brief will replace those automatically.",
		name: 'subject',
		value: subject

	})
}}

{{
	forms.textField({
		label: "Custom Email Template",
		instructions: "If you'd like to use a custom template, specify the path like so: 'template_group/template'.",
		name: 'customTemplate',
		value: settings.customTemplate

	})
}}

{{
	forms.textField({
		label: "Reply To Address",
		instructions: "If you'd like to specify a replyTo address, provide it here.",
		name: 'replyTo',
		value: settings.replyTo

	})
}}

{{ forms.lightswitchField({
    label: "Allow Disabled Entry Notifications",
    instructions: "If you're working with disabled entries, enable this.",
    name: 'notifyDisabled',
    on:   settings.notifyDisabled
}) }}

{{
	forms.textField({
		label: "Slack Webhook URI",
		instructions: "If you'd like Slack integration, paste your full webhook URI here.",
		name: 'slack_webhook',
		value: settings.slack_webhook

	})
}}